.container{
    margin : 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table{
    margin:50px;
}
.pagination{
    display: flex;
    justify-content: center;
}

.image:before {
    content: '';
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    background-image: url("../../asset/images/logomain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}