html,
body,
#root {
  height: 100%;
  
}

a{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}
#root {
    background: #eaeaee;
  }


  .flex {
    display: flex;
  
    &-column {
      @extend .flex;
      flex-direction: column;
    }
  }
  .alink{
    text-decoration: none;
    &-black {
      @extend .alink;
      color:black
    }
    &-blue {
      @extend .alink;
      color:rgb(86, 92, 180)
      
    }
  
  }
td > p   {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
td > input{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
td>div{
  display: flex;
  justify-content: center;
}
td>div>a{
  display: inline-flex;
  margin-right:10px;
  flex-direction: row;
  
}
.focused{
  background-color:rgba(100, 169, 209, 0.281);
}

.fontSize{
  font-size: 20px;
}


.normal{
  background-color: rgba(0, 0, 0, 0);
  border : 0;
  color:rgb(86, 92, 180);

}

.normal:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.input {
  width: 100px;
  border : 0;
  background-color: rgba(86, 92, 180, 0)
}
input:focus{
  background-color: white;
}
.animatebtn{
  transition: all .35s;
}
.WHITE_COLOR{
  color:rgba(255, 0, 0, 0)
}